*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
.float-left{
  float: left;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
ul{
  list-style: none;
}
a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
p{
  line-height: 1.6;
}
hr{
  color: grey;
  margin: 25px auto;
}
.btn{
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
}
.green{
  background-color: #7cbb02;
}
.blue{
  border: 1px solid white;
  padding: 5px 20px;
}
.large{
  padding: 20px;
}
header{
  height: 550px;
  background-color: #0d325a;
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
.header-nav{
  height: 80px;
  line-height: 80px;
}
.header-nav li{
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
}
.header-logo{
  height: 100%;
  width: 20%;
  position: relative;
}
.header-logo img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.header-nav-center{
  height: 100%;
  width: 50%;
}
.header-nav-right{
  height: 100%;
  width: 30%;
  text-align: right;
}
.jumbotron{
  height: 470px;
  position: relative;
}
.jumbotron-title{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.jumbotron-title h1{
  color: white;
  font-size: 40px;
}
.jumbotron-title .button{
  margin-top: 40px;
}
.language{
  text-align: center;
  padding: 30px;
  background-color: lightgrey;
}
.language p{
  color: grey;
  padding-top: 10px;
}
.tutor{
  background-color: white;
}
.inner-tutor{
  width: calc(100% / 3 - 40px);
  text-align: center;
  margin: 20px;
}
.inner-tutor h2{
  color: #7cbb02;
}
.inner-tutor hr{
  width: 20%;
}
.inner-tutor p{
  color: grey;
}
.profile{
  background-image: url('../img/profile.svg');
  background-size: 50%;
  background-position: 50% 50%;
}
.computer{
  background-image: url('../img/computer.svg');
  background-size: 60%;
  background-position: 50% 50%;
}
.doc{
  background-image: url('../img/doc.svg');
  background-size: 50%;
  background-position: 30% 50%;
}
.inner-tutor-img{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
}
.piano{
  width: 100%;
}
.inner-piano{
  width: calc(100% / 2);
}
.inner-piano-img{
  background-image: url('../img/mountain.svg');
  width: 100%;
  height: 500px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.inner-piano-text p{
  color: grey;
  margin-top: 15px;
}
.link{
  padding-top: 20px;
}
#spec{
  text-decoration: underline;
  color: rgb(39, 94, 201);
  font-size: 15px;
  text-transform: none;
}
footer{
  height: 150px;
  background-color: blue;
}
